<!DOCTYPE html>
{% load static %}

<!-- START HEAD -->
<head>
    <meta charset="UTF-8" />

    <!-- this line will appear only if the website is visited with an iPad -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

    <title>Leather backpack bags</title>

    <!-- RESET STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}css/reset.css" />
    <!-- BOOTSTRAP STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}css/bootstrap.css" />
    <!-- MAIN THEME STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}style.css" />
    <link rel='stylesheet' id='custom-css'  href="{% static '' %}css/custom.css" type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-css'  href='http://fonts.googleapis.com/css?family=Oswald%7CDroid+Sans%7CPlayfair+Display%7COpen+Sans+Condensed:300,400,800%3A300%7CRokkitt%7CShadows+Into+Light%7CMaven+Pro:400,700%7CAbel%7CMontez' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css'  href="{% static '' %}css/responsive.css" type='text/css' media='all' />
    <link rel='stylesheet' id='tipsy-css'  href="{% static '' %}css/tipsy.css" type='text/css' media='all' />

    <link rel='stylesheet' id='fonts-css'  href="{% static '' %}css/font-awesome.css" type='text/css' media='all' />
    <link rel='stylesheet' id='full-descriptor-css'  href="{% static '' %}portfolios/full-description/css/style.css" type='text/css' media='all' />
    <link rel='stylesheet' id='slide-details-css'  href="{% static '' %}portfolios/slide-detail/css/style.css" type='text/css' media='all' />
    <link rel='stylesheet' id='flex-css'  href="{% static '' %}sliders/flexslider/css/slider.css" type='text/css' media='all' />
    <link rel='stylesheet' id='flexslider-css'  href="{% static '' %}sliders/flexslider/css/flexslider.css" type='text/css' media='all' />
    <link rel='stylesheet' id='flexslider-elegant-css'  href="{% static '' %}sliders/flexslider-elegant/css/flexslider.css" type='text/css' media='all' />
    <link rel='stylesheet' id='shortcode-css'  href="{% static '' %}css/shortcodes.css" type='text/css' media='all' />

    <link rel='stylesheet' id='colorbox-css'  href="{% static '' %}css/colorbox.css" type='text/css' media='all' />
    <link rel='stylesheet' id='custom-button-mfast-3-css'  href="{% static '' %}css/buttons/mfast-3.css" type='text/css' media='all' />

    <!-- [favicon] begin -->
     <link rel="shortcut icon" type="image/x-icon" href="{% static 'tajleather.png' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'tajleather.png' %}" />
    <!-- [favicon] end -->

    <!-- Touch icons more info: http://mathiasbynens.be/notes/touch-icons -->
    <!-- For iPad3 with retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static '' %}apple-touch-icon-144x.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static '' %}apple-touch-icon-114x.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static '' %}apple-touch-icon-72x.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{% static '' %}apple-touch-icon-57x.png" />

    <link rel='stylesheet' id='thickbox-css'  href="{% static '' %}js/thickbox/thickbox.css" type='text/css' media='all' />

    <script type='text/javascript' src="{% static '' %}js/jquery/jquery.js"></script>
</head>
<!-- END HEAD -->

<!-- START BODY -->
<body class="home page no_js responsive stretched">

<!-- START BG SHADOW -->
<div class="bg-shadow">

<!-- START WRAPPER -->
<div id="wrapper" class="container group">
<!-- START TOP BAR -->

<!-- START TOP BAR -->

<!-- START TOP BAR -->
<div id="topbar">
    <div class="container">
        <div class="row">
            <div id="last-tweets-3" class="widget-first span6 widget last-tweet">
                <p><b>WELCOME TO TAJ A SIGN OF TRUST</b></p>
                <h3>Last Tweets</h3>
                <div class="list-tweets-"></div>

                <script type="text/javascript">
                    jQuery(function($){
                        $('#last-tweets-3 .list-tweets-3').tweetable({
                            listClass: 'tweets-widget-3',
                            username: 'YIW',
                            time: false,
                            limit: 3,
                            replies: false
                        });
                    });
                </script>

            </div>




   <a href="https://api.whatsapp.com/send?phone=919001475770&app=facebook&entry_point=page_cta&fbclid=IwAR1UMC2YyYjSXmDfYWrHtcg2_B42b7JnKGLNe7pRI9goCkN7K2E3fOHoJTE"><img src="{% static 'what.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
  <a href="https://www.instagram.com/taj_paper_udyog/?utm_medium=copy_link"><img src="{% static 'in.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
   <a href="https://www.facebook.com/tajpaper"><img src="{% static 'fb.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
     <a href="https://twitter.com/aadiltaj2"><img src="{% static 'tw.jpg' %}" alt="Girl in a jacket" width="30" height="30"></a>
     <a href="https://www.linkedin.com/company/taj-paper-udyog/mycompany/"><img src="{% static 'li.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
             <a href="https://www.linkedin.com/company/taj-paper-udyog/mycompany/"><img src="{% static 're.png' %}" alt="Girl in a jacket" width="30" height="30"></a>

            </div>
        </div>
    </div>
</div>

<script>
    jQuery(function($){
        var twitterSlider = function(){
            $('#topbar .last-tweets ul').addClass('slides');
            $('#topbar .last-tweets').flexslider({
                animation: "fade",
                slideshowSpeed: 5 * 1000,
                animationDuration: 700,
                directionNav: false,
                controlNav: false,
                keyboardNav: false
            });
        };
        $('#topbar .last-tweets > div').bind('tweetable_loaded', function(){
            twitterSlider();
        });
    });
</script>

<!-- END TOP BAR -->





<!-- START HEADER -->
<div id="header" class="group">
    <div class="group container">
        <div class="row">
            <div class="span12">

                <div class="row">
                    <!-- START LOGO -->
                    <div id="logo" class="span4 group">








                        <a id="logo-img" href="/" title="Tajleatherproducte">
                            <img src="{% static 'tajleather.png' %}" title="TAJ LEATHER PRODUCTE 600 YEARS OF TRUST" alt="classy producte"  width="95" height="95" />
                        </a>


                    </div>
                    <!-- END LOGO -->
                    <div id="menu" class="span8 group">
                          <!-- START MAIN NAVIGATION -->
                        <div class="menu">
                            <ul id="nav" class="sf-menu">
                                <li class="nav-icon-h">
                                    <a href="/">
                                       <b> HOME</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>
                                    <ul class="sub-menu">








                                    </ul>
                                </li>





                                      <li class="">
                                    <a href="/">
                                        <b>LEATHER-BAGS</b>

                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-icon-open-smal">
                                            <a href="/com/Leather-duffle-bags/">
                                                <b>Leather-Duffle-Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-icon-folder-smal">
                                            <a href="/com/Leather-Bagpack/">
                                                <b>Leather-Backpacks</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-icon-target-smal">
                                            <a href="/com/Leather-sling-bags-manufacturer/">
                                               <b>Leather-Sling-Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-icon-target-smal">
                                            <a href="/com/Leather-tote-bag/">
                                               <b>Leather Tote Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-icon-cert-smal">
                                            <a href="/com/Leather-messanger-bag/">
                                               <b>Leather-Messenger-Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-icon-cert-smal">
                                            <a href="/com/Leather-laptop-bags/">
                                                <b>Leather-Laptop-Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-icon-cake-smal">
                                            <a href="/com/Leather-briefcase-bag/">
                                                <b>Leather Briefcase & Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-icon-bulb-smal ">
                                            <a href="/com/Leather-toiletry-bag/">
                                               <b>Leather Wash Bags/Toiletry Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

                                         <li class="nav-icon-bulb-smal ">
                                            <a href="/com/Leather-Saddle-Bags/">
                                              <b>Leather-Saddle-Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

                                         <li class="nav-icon-bulb-smal ">
                                            <a href="/com/Leather-hobo-bag/">
                                                <b>Leather-Hobo-Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
    <li class="nav-icon-bulb-smal ">
                                            <a href="/com/Leather-Bag-Manufacturer/">
                                                <b>Leather-bags-Manufacturer</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>





                                    </ul>
                                </li>

































































                                <li class="nav-icon-monito">
                                    <a href="/com/Leather-journal-manufacturer/">
                                        <b>JOURNALS</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/com/Leather-journal-manufacturer/">
                                                <b>Leather-journal-manufacturer</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-diary-manufacturer/">
                                                <b>Leather-diary-manufacturer</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-embossed-manufacturer/">
                                                <b>Leather-embossed-manufacturer</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-diary/">
                                                <b>Leather-diary</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>



                                    </ul>
                                </li>
                                <li class="nav-icon-do">
                                    <a href="#">
                                       <b>JACKETS</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-icon-team-smal">
                                            <a href="/com/Leather-Jacketsmaen/">
                                                <b>Jackets-for-men</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-icon-bubble-smal ">
                                            <a href="/com/Leather-Jacketswomen/">
                                                <b>Jackets-for-women</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-icon-contact-smal ">
                                            <a href="/com/Leather-leather-wallet/">
                                                <b>Leather wallet&purses</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-icon-bomb-smal">
                                            <a href="/com/Leather-leather-apron/">
                                                <b>Leather Apron</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

                                         <li class="nav-icon-bomb-smal">
                                            <a href="/com/Leather-accories/">
                                                <b>Leather Accsories</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

 <li class="nav-icon-bomb-smal">
                                            <a href="/com/Leather-Cushion-Cover/">
                                                <b>Leather-Cushion-Cover</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>





                                    </ul>
                                </li>



















































































                                <li class="nav-icon-work">
                                    <a href="#">
                                        <b>SLING-BAG</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/com/Leathersling-bags-women/">
                                                <b>Women-Sling-Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-women-backpacks/">
                                                <b>Women-Backpacks</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-women-laptop-bag/">
                                                <b>Women-Laptop-Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-women-purses-clutches/">
                                                <b>Women-Purses</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-women-travel/">
                                                <b>Women-Travel-Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-sling-bag-for-men/">
                                                <b>Men’s Sling Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-men-backpacks/">
                                                <b>Men Backpacks</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-men-laptop-bag/">
                                                <b>Men’s Laptop Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/com/Leather-leather-belts/">
                                                <b>Belts</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

                                         <li>
                                            <a href="/com/Leather-Wallet/">
                                                <b>Wallet</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

                                         <li>
                                            <a href="/com/Leather-men-travel-bag/">
                                                <b>Men’s Travel Bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
    <li>
                                            <a href="/com/Leather-leather-laptop-bags/">
                                                <b>Laptop-bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>
    <li>
                                            <a href="/com/Leather-bike-bag/">
                                                <b>Bike-bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

    <li>
                                            <a href="/com/Leather-travel-bags/">
                                                <b>Travel-bags</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/com/Leather-toiletry-bag/">
                                                <b>Toiletry-Bag</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

  <li>
                                            <a href="/com/Leather-cushion/">
                                                <b>Cushion</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

  <li>
                                            <a href="/com/Leather-camera-bag/">
                                                <b>Camera-Bag</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>

  <li>
                                            <a href="/com/Leather-apron-manufacturer/">
                                                <b>leather-apron</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>





                                    </ul>
                                </li>
                                <li class="nav-icon-newspape">
                                    <a href="/com/Taj-Leather-product-aboutus/">
                                        <b>AB</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/com/Taj-Leather-product-aboutus/">
                                                <b>About us</b>
                                                <div style="position:absolute; left: 50%;">
                                                    <span class="triangle">&nbsp;</span>
                                                </div>
                                            </a>
                                        </li>



                                    </ul>
                                </li>
                                <li class="nav-icon-la">
                                    <a href="/com/contact/">
                                        <b>CONTACT</b>
                                        <div style="position:absolute; left: 50%;">
                                            <span class="triangle">&nbsp;</span>
                                        </div>
                                    </a>
                                    <ul class="sub-menu">






                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="border-header"></div>
</div>
<!-- END HEADER -->

<!-- BEGIN FLEXSLIDER SLIDER -->
<div id="slider-flexslider-classic" class="slider slider-flexslider-classic flexslider container">
    <ul class="slides" style="width:100%;">
        <li>
             <img width="1170" height="380" src="{% static 'leatherslide1.jpg' %}" class="attachment-full" alt="Dog2" />

        </li>
        <li>
           <img width="1170" height="378" src="{% static 'leatherslide2.jpg' %}" class="attachment-full" alt="Bite2" />
        </li>
        <li>
            <img width="1170" height="378" src="{% static 'leatherslide3.jpg' %}" class="attachment-full" alt="Taipei2" />
        </li>
    </ul>
</div>


<script type="text/javascript">
    jQuery(document).ready(function($){
       $('#slider-flexslider-classic.flexslider').flexslider({
            animation: 'fade',
            slideshowSpeed: 3000,
            animationSpeed: 800,
            touch: false
        });
    });
</script>




































































<!-- START PAGE META -->
<div id="page-meta" class="container">
    <!-- SLOGAN -->
    <div class="slogan">
        <h2>LEATHER JOURNAL MANUFACTURER</h2><h3></h3><h3>SEND YOUR REQUIREMENTS</h3>

    </div>
</div>
<!-- END PAGE META -->

<!-- START PRIMARY -->
<div id="primary" class="sidebar-no">
    <div class="container group">
        <div class="row">
            <!-- START CONTENT -->
            <div id="content-home" class="span12 content group">
                <div class="page type-page status-publish hentry group">
                    <div class="section portfolio">
                        <!-- section blog wrapper -->

                        <!-- sticky portfolio -->
                        <div class="row">
                            <div class="page type-page status-publish hentry work group portfolio-sticky portfolio-full-description">

                                <div class="work-thumbnail span6">
                                    <div class="thumb-wrapper">
                                        <div class="related_img">
                                            <div class="picture_overlay">
                                                <img width="573" height="285" src="{% static 'kkk1.jpg' %}" class="attachment-section_portfolio" alt="004" />
                                                <div class="overlay">
                                                    <div>
                                                        <p>
                                                            <a href="{% static 'kkk1.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                                                <img src="{% static 'kkk1.jpg' %}" alt="Open Lightbox" />
                                                            </a>
                                                            <a href="portfolio-slide-detail.html">
                                                                <img src="images/icons/project.png" alt="" />
                                                            </a>
                                                        </p>

                                                    </div>
                                                </div>
                                                <!-- end overlay -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end thumb wrapper -->
                                </div>
                                <!-- end work-thumbnail -->
                                <div class="span6">
                                    <div class="work-description">
                                        <h2>
                                            <a href="full-descriptor-digitpool.html">
                                                Leather journal
                                            </a>
                                        </h2>
                                        <p>A leather diary is a type of journal or notebook with a cover made of leather that is typically used for personal writing or recording thoughts and experiences. Leather diaries are often seen as more sophisticated and elegant than other types of journals, and they are commonly used by people who value the aesthetic of a high-quality notebook.

Leather diaries come in a range of sizes and styles, from small pocket-sized diaries to larger, more elaborate books with multiple sections for different types of content. Some leather diaries may have additional features such as snap closures, pen loops, or embossed designs on the cover.

One of the benefits of using a leather diary is that the material is durable and can withstand wear and tear, making it an ideal choice for daily use. Additionally, the cover of a leather diary can develop a unique patina over time as it is used, giving it a distinctive and personal appearance.

Leather diaries are often used as personal diaries, travel journals, or as a place to record daily thoughts and reflections. They can be purchased at stationery stores, bookstores, or online retailers, and can make great gifts for writers or anyone who enjoys journaling.</p>
                                    </div>
                                    <center>


   <a href="https://api.whatsapp.com/send?phone=919001475770&app=facebook&entry_point=page_cta&fbclid=IwAR1UMC2YyYjSXmDfYWrHtcg2_B42b7JnKGLNe7pRI9goCkN7K2E3fOHoJTE"><img src="{% static 'what.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
  <a href="https://www.instagram.com/taj_paper_udyog/?utm_medium=copy_link"><img src="{% static 'in.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
   <a href="https://www.facebook.com/tajpaper"><img src="{% static 'fb.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
     <a href="https://twitter.com/aadiltaj2"><img src="{% static 'tw.jpg' %}" alt="Girl in a jacket" width="30" height="30"></a>
     <a href="https://www.linkedin.com/company/taj-paper-udyog/mycompany/"><img src="{% static 'li.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
             <a href="https://www.linkedin.com/company/taj-paper-udyog/mycompany/"><img src="{% static 're.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
             <p><a href="mailto:info@tajleatherproduct.com">Send email</a></p>
        </center>
                                    <!-- end work-description -->
                                </div>
                            </div>
                        </div>
                        <!-- span wrapper -->

                    <div class="clear"></div>


                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <!-- START COMMENTS -->
                <div id="comments"></div>
                <!-- END COMMENTS -->

            </div>
            <!-- END CONTENT -->

            <!-- START EXTRA CONTENT -->
            <!-- END EXTRA CONTENT -->
        </div>
    </div>
</div>
<!-- END PRIMARY -->






























































<!-- START PAGE META -->
<div id="page-meta" class="container">
    <!-- SLOGAN -->
     <div class="slogan">
         <h2><b>Collections</b></h2><h3>Popular Category Most trending</h3>
     </div>
 </div>
 <!-- END PAGE META -->









 <!-- START PRIMARY -->
 <div id="primary" class="sidebar-no">
 <div class="container group">
 <div class="row">
 <!-- START CONTENT -->
 <div id="content-page" class="span12 content group">
 <div id="post-330" class="post-330 page type-page status-publish hentry group">

 <script>
     jQuery(document).ready(function($){
         $('.sidebar').remove();

         if( !$('#primary').hasClass('sidebar-no') ) {
             $('#primary').removeClass().addClass('sidebar-no');
             $('.content').removeClass('span9').addClass('span12');
         }

     });
 </script>

 <div class="row">
     <ul id="portfolio" class="columns columns thumbnails">


         <li  class="first slide-1 work span3 first">

             <div class="picture_overlay">
                 <img width="260" height="172" src="{% static 'kkk1.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="001" />

                 <div class="overlay">
                     <div>
                         <p>
                             <a href="{% static 'kkk1.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                 <img src="{% static 'kkk1.jpg' %}" alt="Open Lightbox" />

                             </a>

                             <a href="portfolio-slide-detail.html">
                                 <img src=" " alt="" />
                             </a>
                         </p>


                     </div>
                 </div>
             </div>


         </li>


         <li  class="slide-2 work span3">

             <div class="picture_overlay">
                 <img width="260" height="172" src="{% static 'kkk2.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="002" />

                 <div class="overlay">
                     <div>
                         <p>
                             <a href="{% static 'kkk2.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                 <img src="{% static 'kkk2.jpg' %}" alt="Open Lightbox" />

                             </a>

                             <a href="portfolio-slide-detail.html">
                                 <img src="" alt="" />
                             </a>
                         </p>


                     </div>
                 </div>
             </div>



         </li>


         <li  class="slide-3 work span3">

             <div class="picture_overlay">
             <img width="260" height="172" src="{% static 'kkk3.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="002" />

                 <div class="overlay">
                     <div>
                         <p>
                             <a href="{% static 'kkk3.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                 <img src="{% static 'kkk3.jpg' %}" alt="Open Lightbox" />

                             </a>

                             <a href="portfolio-slide-detail.html">

                             </a>
                         </p>


                     </div>
                 </div>
             </div>



         </li>


         <li  class="slide-4 work span3">

             <div class="picture_overlay">
                 <img width="260" height="172" src="{% static 'kkk4.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="004" />

                 <div class="overlay">
                     <div>
                         <p>
                             <a href="{% static 'kkk4.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                 <img src="{% static 'kkk4.jpg' %}" alt="Open Lightbox" />

                             </a>

                             <a href="portfolio-slide-detail.html">

                             </a>
                         </p>


                     </div>
                 </div>
             </div>



         </li>


         <li  class="slide-5 work span3 first">

             <div class="picture_overlay">
                 <img width="260" height="172" src="{% static 'kkk5.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="005" />

                 <div class="overlay">
                     <div>
                         <p>
                             <a href="{% static 'kkk5.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                 <img src="{% static 'kkk5.jpg' %}" alt="Open Lightbox" /></a>

                             <a href=" "><img src="images/icons/project.png" alt="" /></a>
                         </p>


                     </div>
                 </div>
             </div>


                                    </li>


         <li  class="slide-6 work span3">

             <div class="picture_overlay">
                 <img width="260" height="172" src="{% static 'kkk6.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="007" />

                 <div class="overlay">
                     <div>
                         <p>
                             <a href="{% static 'kkk6.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                 <img src="{% static 'kkk6.jpg' %}" alt="Open Lightbox" /></a>

                             <a href="portfolio-slide-detail.html"><img src="images/icons/project.png" alt="" /></a>
                             </p>


                     </div>
                 </div>
             </div>


                                    </li>


         <li  class="slide-7 work span3">

             <div class="picture_overlay">
                 <img width="260" height="172" src="{% static 'kkk7.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="piggie8" />

                 <div class="overlay">
                     <div>
                         <p>
                             <a href="{% static 'kkk7.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                 <img src="{% static 'kkk7.jpg' %}" alt="Open Lightbox" /></a>

                             <a href="portfolio-slide-detail.html"><img src="images/icons/project.png" alt="" /></a>
                         </p>


                     </div>
                 </div>
             </div>


                                   </li>
  <li  class="slide-7 work span3">

             <div class="picture_overlay">
                 <img width="260" height="172" src="{% static 'kkk8.jpg' %}" class="attachment-thumb_portfolio_4cols" alt="piggie8" />

                 <div class="overlay">
                     <div>
                         <p>
                             <a href="{% static 'kkk8.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                 <img src="{% static 'kkk8.jpg' %}" alt="Open Lightbox" /></a>

                             <a href="portfolio-slide-detail.html"><img src="images/icons/project.png" alt="" /></a>
                         </p>


                     </div>
                 </div>
             </div>


                                   </li>


     </ul>
 </div>

 </div>
 <!-- START COMMENTS -->
 <div id="comments">
 </div>
 <!-- END COMMENTS -->
 </div>
 <!-- END CONTENT -->



 <!-- START EXTRA CONTENT -->
 <!-- END EXTRA CONTENT -->
 </div>
 </div>
 </div>
 <!-- END PRIMARY -->




































































   <center>


   <a href="https://api.whatsapp.com/send?phone=919001475770&app=facebook&entry_point=page_cta&fbclid=IwAR1UMC2YyYjSXmDfYWrHtcg2_B42b7JnKGLNe7pRI9goCkN7K2E3fOHoJTE"><img src="{% static 'what.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
  <a href="https://www.instagram.com/taj_paper_udyog/?utm_medium=copy_link"><img src="{% static 'in.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
   <a href="https://www.facebook.com/tajpaper"><img src="{% static 'fb.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
     <a href="https://twitter.com/aadiltaj2"><img src="{% static 'tw.jpg' %}" alt="Girl in a jacket" width="30" height="30"></a>
     <a href="https://www.linkedin.com/company/taj-paper-udyog/mycompany/"><img src="{% static 'li.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
             <a href="https://www.linkedin.com/company/taj-paper-udyog/mycompany/"><img src="{% static 're.png' %}" alt="Girl in a jacket" width="30" height="30"></a>
        </center>



<!-- START FOOTER -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div>
                <div class="widget-first widget span3 recent-posts">
                    <h3>WELCOME TO TAJLEATHER PRODUCTE</h3>
                    <div class="recent-post">
                        <div class="post type-post status-publish format-gallery hentry category-web-design group">

                            <div class="date">
                                <span class="month">A</span>
                                <span class="day">    1</span>
                            </div>

                            <div class="text">
                                <h3>
                                    <a href="blog-detail.html" title="600 years of trust">
                                        A Sign of trust
                                    </a>
                                </h3>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="post type-post status-publish format-standard hentry category-elegant-vintage group">

                            <div class="date">
                                <span class="month">TAJ </span>
                                <span class="day">    </span>

                            </div>

                            <div class="text">
                                <h3>
                                    <a href="#" title="A classic custom producte">
                                       A classic producte
                                    </a>
                                </h3>

                                <p>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget span3 widget_flickrRSS">
                    <h3>IMAGES</h3>

                    <a title="1P4B6832" href="{% static '65 (4).jpg' %}"><img alt="1P4B6832" src="{% static '65 (4).jpg' %}"></a>
                    <a title="DSC03253" href="{% static '66 (1).jpg' %}"><img alt="DSC03253" src="{% static '66 (1).jpg' %}"></a>
                    <a title="Tappas in Hondarribia" href="{% static '66 (2).jpg' %}"><img alt="Tappas in Hondarribia" src="{% static '66 (2).jpg' %}"></a>
                    <a title="P1000624" href="{% static '66 (3).jpg' %}"><img alt="P1000624" src="{% static '66 (3).jpg' %}"></a>
                    <a title="" href="{% static '66 (4).jpg' %}"><img alt="" src="{% static '66 (4).jpg' %}"></a>
                    <a title="P1010059" href="{% static '67 (1).jpg' %}"><img alt="P1010059" src="{% static '67 (1).jpg' %}"></a>
                    <a title="Berlijn 2013" href="{% static '67 (3).jpg' %}"><img alt="Berlijn 2013" src="{% static '67 (3).jpg' %}"></a>
                    <a title="20130518-_DSC9574" href="{% static '67 (4).jpg' %}"><img alt="20130518-_DSC9574" src="{% static '67 (4).jpg' %}"></a>
                    <a title="20130519_144623.jpg" href="{% static '68 (1).jpg' %}"><img alt="20130519_144623.jpg" src="{% static '68 (1).jpg' %}"></a>
                    <a title="baden-württenmberg und bayern 2013 1 284" href="{% static '68 (2).jpg' %}"><img alt="baden-württenmberg und bayern 2013 1 284" src="{% static '68 (2).jpg' %}"></a>
                </div>
                <div  class="widget span3 contact-info">
                    <h3>Get in touch</h3>
                    <div class="sidebar-nav">
                        <ul>
                            <li>
                                <i class="icon-map-marker" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Address:</span> Jain Mandir Road, Sanganer Jaipur, (Raj.), India.
                            </li>
                            <li>
                                <i class="icon-phone" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Mobile:</span> +91 90014 75770
                            </li>
                            <li>
                                <i class="icon-print" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Tel:</span>  +0141 2732342
                            </li>
                            <li>
                                <i class="icon-envelope" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Email:</span> info@tajleatherproduct.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="last-tweets-2" class=" widget span3 last-tweets">
                    <h3>Sales world wide</h3>
                    <div class="list-tweets-">
                        <p> Hurry up and order now your custom product</p>
                        <p> <b>Sales global world wide</b></p>
                          <p> <b>Unique Leather Product</b></p>

                    </div>

                    <script type="text/javascript">
                        jQuery(function($){
                            $('#last-tweets-2 .list-tweets-2').tweetable({
                                listClass: 'tweets-widget-2',
                                username: 'envato',
                                time: true,
                                limit: 2,
                                replies: true
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER -->

<!-- START COPYRIGHT -->
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="left span6">
                <a href=""><strong>ALL RIGHT RESERVE BY TAJ </strong></a>
            </div>
            <div class="right span6">
                <p>Powered by
                    <a href="" title="">
                        <strong>TAJ LEATHER PRODUCT</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END COPYRIGHT -->

</div>
<!-- END WRAPPER -->

</div>
<!-- END BG SHADOW -->



<!-- START CUSTOM SCRIPT -->

<!-- END CUSTOM SCRIPT -->

<script type='text/javascript' src="{% static '' %}js/jquery.colorbox-min.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.flexslider-min.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.tweetable.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.superfish.js"></script>
<script type='text/javascript' src="{% static '' %}portfolios/filterable/js/jquery.filterable.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.tipsy.js"></script>
<script type='text/javascript' src="{% static '' %}js/responsive.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.mobilemenu.js"></script>
<script type='text/javascript' src="{% static '' %}js/shortcodes.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery/jquery.masonry.min.js"></script>
<script type='text/javascript' src="{% static '' %}js/jquery.custom.js"></script>

</body>
<!-- END BODY -->
</html>